.root {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 120px;
	grid-column: 2 / auto;
	padding: 0 9rem;
	overflow: hidden;
}

@media (max-width: 600px) {
	.root {
		padding: 0 1.5rem;
	}
	.root article img {
		display: block;
		max-width: 300px;
		margin: 0 auto;
	}
}

@media (max-width: 1200px) {
	.root article img {
		display: block;
		max-width: 500px;
		margin: 0 auto;
	}
}
